spring:

  profiles:
    active: dev
  config:
    import: optional:file:application.properties
  application:
    name: hospital-sgch-backend



  mail:
    host: smtp.gmail.com
    port: 587
    username: carlos.cme.20@gmail.com
    password: carlos04
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


  datasource:
    url: jdbc:postgresql://localhost:5432/hospital_sgch
    username: postgres
    password: carlos04
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
        hibernate:
        jdbc:    
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret:  ZXCVBN-SECRET-QUYWTQ-YYYQKP
  expiration: 3600000 # 1 hora